.chart-container {
    position: absolute;
    margin-right: 20px;
    top: 280px;
    right: 0;
    bottom: 0;
    width: 43.5%;
    height: 60vh;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-image: linear-gradient(to right, #FDFEFE, #F4ECF7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-container:hover {
    transform: translateY(0px);
}

/* 针对顶部圆弧形状的样式 */
.chart-container.top-arc {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* 针对底部圆弧形状的样式 */
.chart-container.bottom-arc {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.chart {
    width: 100%; /* 父容器宽度占满可用空间 */
    height: 40vh; /* 高度设置为视口高度的100% */
    padding: 0; /* 如果不需要内边距，确保设置为0 */
    margin: 0; /* 如果不需要外边距，确保设置为0 */
}

/* 响应式调整：小屏幕设备上的样式 */
@media (max-width: 768px) {
    .chart-container {
        width: 100%; /* 小屏幕上宽度占满屏幕 */
        height: auto; /* 根据内容调整高度 */
        position: relative; /* 不再固定位置 */
    }
}


.custom-line-btn {
    background-color: #5dade2bc; /* 绿色 */
    border-color: #4c57af; /* 绿色边框 */
}

.custom-line-btn:hover {
    background-color: #4c95af; /* 深绿色 */
}

.custom-bar-btn {
    background-color: #48c9af9a; /* 红色 */
    border-color: #106b549f; /* 红色边框 */
}

.custom-bar-btn:hover {
    background-color: #106b549f; /* 深红色 */
}

.custom-pie-btn {
    background-color: #fad7a09a; /* 橙色 */
    border-color: #ff9800; /* 橙色边框 */
}

.custom-pie-btn:hover {
    background-color: #e68900; /* 深橙色 */
}

.chart-buttons {
    position: absolute; /* 或使用 relative, 根据需要调整 */
    top: 0;
    left: 50%; /* 可以调整到页面的中间 */
    transform: translateX(-50%); /* 中心对齐 */
    margin-top: 20px;
}


.textarea-feature-bar-item {
    width: 100%; /* 控制宽度为容器宽度的 80% */
    max-height: 800px; /* 最大宽度为 600px，可以根据实际需要调整 */
    margin: 10px auto; /* 上下 10px 边距，水平居中 */
    display: block; /* 确保这是一个块级元素，以应用 margin auto */
    position: absolute;
    top: 20px; /* 置于底部 */
    left: 0; /* 从左侧开始，可以根据需要调整 */
    width: 100%; /* 覆盖整个容器宽度，或根据需求调整 */
    max-width: 100%; /* 确保不超出容器宽度 */
    margin: 0;
    background-image: linear-gradient(to right, #FDFEFE, #F4ECF7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
