/* Sidebar.css */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #48a1ce39;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    color: rgba(205, 190, 190, 0.702);
  }

  
 
  .sidebar.open {
    transform: translateX(0); /* 显示侧边栏 */
  }
  
  .sidebar.hidden {
    transform: translateX(-100%); /* 隐藏侧边栏 */
  }
  .logo {
    margin-top: -30px; /* 向上移动Logo */
  }

  .label {
    font-family: "Arial", sans-serif; /* 设置字体样式为 Arial，如果用户设备上没有 Arial 字体，则使用 sans-serif 作为备选字体 */
    display: block;
    margin-bottom: 5px;
    text-align: center; /* 让内容居中 */
    font-size: 18px; /* 调整字体大小 */
    font-weight: bold; /* 设置字体加粗 */
    color: rgba(19, 16, 22, 0.586)
  }
  
  .select {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: transparent; /* 设置填充色为透明 */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */ /* 去除阴影效果 */
    text-align: center;
    transition: box-shadow 0.3s ease;
    color: rgba(19, 16, 22, 0.586)
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: #333; /* 修改文字颜色以确保在白色背景上可见，可根据您的设计需要进行调整 */
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  .select:hover,
.select:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(81, 66, 66, 0.1), 0 0 0 2px #007bff;
}

.select option[disabled]:first-child {
  color: transparent;
}

.select option[disabled]:first-child::before {
  content: 'xxx';
  color: #512828;
}


.input {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px; /* 添加弧角 */
    border: none;
    width: 90%;
    background-color: transparent; /* 设置填充色为透明 */
    text-align: center;
    transition: box-shadow 0.3s ease;
    color: rgba(16, 13, 19, 0.586);
  }
  
  .input:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(81, 66, 66, 0.1), 0 0 0 2px #007bff; /* 焦点状态下的阴影效果 */
  }
  
  /* 调整了 .select 和 .confirm-button 的样式以保持一致性 */
  .select, .confirm-button {
    border-radius: 5px; /* 确保所有表单元素具有相同的弧角大小 */
  }

  .compare-btn {
    background-color: rgba(70, 161, 207, 0.001); /* 淡蓝色背景 */
    color: rgba(16, 22, 20, 0.586); /* 深灰色文本 */
    padding: 10px 24px; /* 上下填充，左右填充 */
    margin: 10px 0; /* 上下边距 */
    border: 1px solid #7a92b1; /* 添加边框：1像素宽，实线，深蓝色 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标悬停时变为手型图标 */
    transition: background-color 0.3s ease; /* 背景色变化的平滑过渡效果 */
    font-family: 'Arial', sans-serif; /* 使用Arial字体，若无则回退到无衬线字体 */
    font-size: 16px; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
  }
  
  .compare-btn:hover {
    background-color: #748fd45a; /* 鼠标悬停时的深绿色 */
  }
  
  .compare-btn:active {
    background-color: #748fd478; /* 点击时的更深绿色 */
   
    
  }
  