/* TotalScore.css */
.total-score {
  position: absolute;
  top: 70px;
  right: 0;
  width: 50vw; /* 使用视口宽度单位 */
  max-width: 659px; /* 限制最大宽度 */
  height: 30vh; /* 使用视口高度单位 */
  max-height: 300px; /* 限制最大高度 */
  padding: 20px;
  background-color: #48a1ce39;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 5vw; /* 字体大小也使用视口单位，以保持响应性 */
}

/* 对小屏幕设备的额外样式调整 */
@media (max-width: 768px) {
  .total-score {
    width: 80vw; /* 小屏幕上增加宽度 */
    font-size: 8vw; /* 在小屏幕上增加字体大小以保持可读性 */
    top: 10px; /* 调整顶部位置 */
    right: 10px; /* 避免紧贴屏幕边缘 */
  }
}
