# Django
esg_management_system/*/__pycache__
*.pyc
esg_management_system/db.sqlite3
esg_management_system/.idea/*
esg_management_system/esg_app/migrations/__pycache__/__init__.cpython-311.pyc
# templates

#data
*.txt
*.pdf

# System and editor files
.DS_Store
Thumbs.db
.vscode/

# Frontend
node_modules
