.esg-rating-display {
  position: fixed;
    /* 使用固定定位 */
  
    right: 0;
    /* 放置在屏幕右侧 */
    width: 30vw;
    /* 组件宽度占视口宽度的30% */
    height: 40vh;
    /* 组件高度占视口高度的40% */
    text-align: center;
  margin-top: 25px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.rating-card {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e8f7ff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 120, 215, 0.2);
    font-size: 7em;
      /* 调整字体大小 */
      font-weight: bold;
      /* 字体加粗 */
}

.rating-card h3 {
  margin: 0;
  font-size: 18px;
  color: #0078d7;
}

.rating-card p {
  font-size: 36px;
  margin: 5px 0 0;
  color: #0078d7;
}