/* App styles */
.App {
  text-align: center;
  display: flex; /* Use Flexbox */
  align-items: stretch; /* Stretch child elements to fill container height */
  height: 100vh; /* Set App height as needed */
}

/* Sidebar container styles */
.sidebar-container {
  display: flex; /* Use Flexbox layout */
  align-items: start; /* Align buttons and sidebar at the top */
}

/* Sidebar styles */
.sidebar {
  width: 250px; /* Sidebar width */
  transform: translateX(-100%); /* Hide sidebar by default */
  transition: transform 0.3s ease; /* Smooth transition effect */
}

.sidebar.open {
  transform: translateX(0); /* Unhide sidebar when open */
}

/* Toggle button styles */
.toggle-button {
  position: relative; /* Maintain relative positioning */
  z-index: 2; /* Ensure button is above sidebar */
  width: 40px; /* Set button width */
  height: 40px; /* Set button height */
  left: 250px; /* Move to left as needed */
  background-color: rgba(
    237,
    171,
    50,
    0.768
  ); /* Set button background color to orange */
  border: none; /* Remove border */
  border-radius: 50%; /* Set border to rounded */
  display: flex; /* Use Flex layout for centering content */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  cursor: pointer; /* Show pointer on hover */
}

.toggle-button::before,
.toggle-button::after,
.toggle-button div {
  content: ""; /* Required to show pseudo-elements */
  position: absolute; /* Absolute positioning relative to parent */
  height: 3px; /* Bar height */
  width: 20px; /* Bar width */
  background-color: #fff; /* Bar color */
  transition: all 0.3s; /* Smooth transition effect */
}

.toggle-button::before {
  top: 15px; /* Top position */
}

.toggle-button::after {
  bottom: 15px; /* Bottom position */
}

.toggle-button div {
  background-color: #d3c2c2; /* Set middle bar color */
  width: 20px; /* Middle bar width */
  height: 5px; /* Middle bar height */
}

/* Top bar styles */
.top-bar {
  padding: 15px; /* Adjust padding as needed */
  border-bottom: 1px solid #f5ecec; /* Add bottom border to separate top bar from feature bars */
}

/* Feature bars styles */
.feature-bars {
  display: flex; /* Enable Flexbox layout */
  flex-direction: column; /* Stack children vertically */
  height: 100%; /* Full height of its parent */
}

/* Feature bar item styles */
.feature-bar-item {
  flex-grow: 1; /* Each child will equally share the available space */
  /* Add padding, margins, etc. as needed for your design */
}
