/* App.css */

.App {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 220px; /* 略大于侧边栏的宽度，以确保内容不被挡住 */
}

.feature-areas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 调整功能区之间的间隔 */
}

.feature-area {
  flex-basis: calc(25% - 10px); /* 调整功能区宽度为父容器的四分之一，减去间隔 */
  height: 200px; /* 设置功能区的高度 */
  background-color: #f0f0f0; /* 功能区的背景颜色 */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* 功能区边框样式 */
}

/* 为每个功能区定义特定的大小 */
.feature-area-3 {
  flex-basis: 45%; /* 宽度 */
  height: 550px; /* 高度 */
  order: 1; /* 设置更高的 order 值 */
}

.feature-area-2 {
  flex-basis: 45%; /* 宽度 */
  height: 150px; /* 高度 */
  margin-top: 40px; /* 增加到顶端的距离 */
}

.feature-area-1 {
  flex-basis: 45%; /* 宽度 */
  height: 150px; /* 高度 */
  margin-top: 40px; /* 增加到顶端的距离 */
}

.feature-area-4 {
  flex-basis: 45%; /* 宽度 */
  height: 550px; /* 高度 */
}