
.feature-area-4 {
  /* 示例：如果需要固定高度 */
  max-height: 500px; /* 或根据需要设置 */
  overflow-y: auto; /* 垂直方向上的内容如果超出容器将可滚动 */
}

.feature-area-4 {
  text-align: center;
  margin: 10px;
  background-color: #d0f0e89c; /* 更改背景颜色 */
  padding: 10px; /* 增加内边距以留出更多空间 */
  border-radius: 10px; /* 添加边角圆润效果 */
}


.feature-area-4 ul {
  padding-left: 0; /* 移除默认的内边距 */
  margin: 0; /* 移除默认的外边距 */
  list-style-type: none; /* 移除默认的列表项目符号 */
}

.metric-item {
  cursor: pointer; /* 当鼠标悬停时显示指针光标 */
  border-radius: 4px; /* 列表项边缘圆润 */
  transition: background-color 0.3s; /* 背景色变化的过渡效果 */
  padding: 10px; /* 设置内边距以使文本不会紧贴边缘 */
  text-align: left; /* 确保文本在最左边对齐 */
}

.metric-item:hover {
  background-color: #6468b9; /* 鼠标悬停时的背景色 */
}

.metric-item.selected {
  background-color: #6468b9; /* 选中项的背景色 */
}

.weight-input {
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; /* 输入框边缘圆润 */
}
