.sidebar {
  height: 97.5%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #a0e5e5, #ffffff); /* 使用线性渐变创建从 #71d8d8 到 #ffffff 的渐变背景 */
  padding-top: 20px;
  border-radius: 10px; /* 添加圆角，您可以根据需要调整这个值 */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  color: #333; /* 修改文字颜色以确保在白色背景上可见，可根据您的设计需要进行调整 */
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}




.label {
  font-family: "Arial", sans-serif; /* 设置字体样式为 Arial，如果用户设备上没有 Arial 字体，则使用 sans-serif 作为备选字体 */
  display: block;
  margin-bottom: 5px;
  text-align: center; /* 让内容居中 */
  font-size: 18px; /* 调整字体大小 */
  font-weight: bold; /* 设置字体加粗 */
  color: rgba(89, 55, 119, 0.586)
}

.select {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: transparent; /* 设置填充色为透明 */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */ /* 去除阴影效果 */
  text-align: center;
  transition: box-shadow 0.3s ease;
  color: rgba(89, 55, 119, 0.586)
}

.select:hover,
.select:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(81, 66, 66, 0.1), 0 0 0 2px #007bff;
}

.select option[disabled]:first-child {
  color: transparent;
}

.select option[disabled]:first-child::before {
  content: 'xxx';
  color: #512828;
}

.confirm-button {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px; /* 调整按钮与选择框之间的间距 */
  background-color: transparent;  /* 按钮背景色 */
  color: rgba(89, 55, 119, 0.586); /* 按钮文字颜色 */
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #8ca0b4; /* 鼠标悬停时的背景色 */
}