.my-esg {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  margin-bottom: 40px;
}

.header .logo {
  margin: 20px auto;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */

  background-size: contain;
  background-repeat: no-repeat;
}

.search-area {
  margin-bottom: 20px;
}

.search-area input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #00BFFF; /* Light blue border */
  border-radius: 25px;
}

.search-area button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #00BFFF; /* Light blue background */
  color: white;
  cursor: pointer;
}

.filters select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #00BFFF;
  border-radius: 25px;
  -webkit-appearance: none; /* Removes default chrome and safari style */
  -moz-appearance: none; /* Removes default style Firefox */
  appearance: none; /* Removes default browser style */

  background-size: 12px; /* Adjust as needed */
}

.filters select:focus {
  outline: none;
}

.footer {
  margin-top: 40px;
  font-size: 0.8em;
}

.footer nav a {
  text-decoration: none;
  color: #00BFFF;
  margin: 0 10px;
}

.footer nav a:hover {
  text-decoration: underline;
}
.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 200px; /* You can adjust this as needed */
  overflow-y: auto;
  position: absolute;
  width: calc(100% - 20px); /* Adjust according to parent padding */
  box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
  z-index: 100;
}

.search-results li {
  padding: 10px;
  border-top: 1px solid #ddd;
  cursor: pointer;
  background-color: #f9f9f9;
}

.search-results li:hover {
  background-color: #efefef;
}
  