.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-logo img {
  width: 150px; 
  margin-bottom: 1em; 
}

.login-form {
  background-color: white;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1em;
  text-align: center;
  width: 100%;
  max-width: 300px; 
}

.login-form h2 {
  color: #333;
}

.login-form p {
  color: #666;
}

.login-form input {
  width: calc(100% - 1em); 
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-remember {
  display: flex;
  align-items: center; 
  
}

.login-remember input[type='checkbox'] {
  margin-right: 15em; 
}

.login-remember label {
  color: #666;
  font-size: 1em;
  margin-left: 0.5em;
}



.login-form button {
  width: calc(50% - 0.5em); 
  padding: 0.5em;
  margin: 0.5em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form a {
  color: #007bff;
  text-decoration: none;
  display: block;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-footer {
  margin-top: 1em;
  color: #666;
  text-align: center;
  position: absolute; 
  bottom: 0;
  width: 100%;
}
