.container {
  display: flex;
  /* 启用Flexbox */
  flex-direction: row;
  /* 子项水平排列 */
  align-items: flex-start;
  /* 子项在交叉轴上的起点对齐 */
}

.esg-form {
  background: #2280b3;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 400px;
  height: 700px;
  /* 限制表单的最大宽度 */
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  color: #fcfafa;
  display: block;
  margin-bottom: 15px;
  margin-top: 80px;
  font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="search"],
/* 添加搜索框样式 */
.input-group select {
  /* 添加下拉选择框样式 */
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #0056b3;
}