.table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.legend {
    text-align: left;
}

.thead-dark th {
    background-color: #7d8d98;
    color: #ffffff;
    padding: 12px 15px;
    text-align: left; /* Left-align text in table headers */
}

.table-hover tr:hover {
    background-color: #ffffff;
}

.esg-score {
    font-size: 40px;
    font-weight: bold;
    color: #2d0808;
    background-color: #dce2e8;
    padding: 10px;
}

.esg-score-cell {
    font-size: 60px;
    color: #686060;
    padding: 10px 20px;
    text-align: center; /* Center-align ESG score cells */
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

@media (max-width: 768px) {
    .table-responsive {
        overflow-x: scroll;
    }
}

.chart-container1 {
    width: 100%;
    height: 300px;
    margin: 20px auto; /* Center vertically and add top/bottom margin */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    display: block;
}

.loading-text, .error-text {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #666;
}

.tooltip-inner {
    background-color: #000;
    color: #fff;
    font-size: 14px;
}

.metric-row {
    background-color: #f0f0f0;
}

.indicator-row {
    background-color: #e6e6e6;
}

.pillar-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: rgb(239, 235, 235);
    font-size: 12px;
    font-weight: bold;
}

.pillar-e {
    background-color: rgb(31, 120, 31);
}

.pillar-s {
    background-color: rgb(36, 36, 151);
}

.pillar-g {
    background-color: rgb(108, 21, 21);
}
