.second_framework-choose {
  padding: 10px;
  background-color: #48a2ce42;
  width: 100%; /* 设置宽度为100% */
  height: 12vh; /* 设置高度为视口的100%，填满整个屏幕 */
  display: flex;
  justify-content: center;
  align-items: center; /* 垂直居中 */
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.second_framework-choose button {
  margin: 20px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.second_framework-choose button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.second_framework-choose button:active {
  background-color: #004085;
  transform: translateY(2px);
}
